name: Deploy to EC2 via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: add SSH KEY
        uses: webfactory/ssh-agent@v0.7.0
        with: 
          ssh-private-key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}

      - name: Deploy to EC2
        run: | 
          ssh -o StrictHostKeyChecking=no 
          ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "cd /home/ec2-user/site-nginx-cloud && git pull && ./deploy.sh"
